* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section{
    padding: 50px 0;
}

.section-title {
    margin: 20px 0;

    text-align: center;

    color: #c22e5f;

    font-size: 30px;
    font-weight: 800;
    line-height: 1.5;
}

.section-description {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
}

.team.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card {
    height: 200px;
    max-width:400px;
    background-color: black;
    color: #ffffff;
    display: flex;
}

.card-text {
    flex: 1;
    padding: 20px;
}

h3 {
    text-transform: uppercase;
}

address {
    color: #08c4f8;
}

.form-container {
    max-width: 480px;
    margin: auto;
    margin-bottom: 30vh;
}

.form-container button {
    margin: auto;
}